
.banner_hcont_wrapper{
	float:left;
	width:100%;
	padding-top:130px;
}
.job_heading h1{
	font-size:60px;
	color:#ffffff;
}
.job_heading h1 span{
	color:#427ecc;
	font-weight:bold;
}
.job_heading p{
	font-size:20px;
	color:#ffffffa8;
	padding-top:10px;
}
.header_form_wrapper{
	float:left;
	width:100%;
	background:#ffffff24;
	padding-top:30px;
	padding-bottom:30px;
	margin-top:40px;
	padding-left: 20px;
    padding-right: 20px;
}
 .header_form_wrapper input, .form_exper_wrapper input{
	width:100%;
	height:40px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	border:transparent;
	padding-left:20px;
    padding-right: 20px;
} 

.form_loc_wrapper .second_icon, .form_exper_wrapper .second_icon{
	margin-left:-30px;
	position: absolute;
    top: 19px;
}
.form_loc_wrapper .first_icon, .form_exper_wrapper .first_icon{
	position:absolute;
	top:17px;
	font-size:20px;
	left:30px;
	z-index:1;
	color:#427ecc;
}
.form_btn_wrapper li a{
	float:left;
	width:100%;
	height:50px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	background:#427ecc;
	color:#ffffff;
	line-height:50px;
	text-align:center;
	font-weight:bold;
	font-size:16px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.form_btn_wrapper li a:hover{
	background:#ffffff;
	color:#000000;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.form_btn_wrapper li a i{
	padding-right:5px;
}
.banner_main_jobs_wrapper{
	float:left;
	width:100%;
	margin-top:15px;
}
.banner_main_jobs li{
	float:left;
	margin-left:20px;
}
.banner_main_jobs li:first-child{
	margin-left:0;
	color:#ffffff;
}
.banner_main_jobs li i{
	padding-right:5px;
	color:#427ecc;
}
.banner_main_jobs li a{
	color:#ffffffcf;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	
}
.banner_main_jobs li a:hover{
	color:#427ecc;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}